* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #31333b;
}

:root {
    /* --general-color: #ac59ca; */
    --js: #f0db4f;
    --php: #AEB2D5;
    --vueJs: #41b883;
    --laravel: #f05340;
    --bootstrap: #563d7c;
    --html: #e34c26;
    --css: #2965f1;
    --node:  #3c873a;
    --mysql:  #F29111;
    --slack:  #f0f0f0;
  }
  .JavaScript{
    color: var(--js) !important;
  }
  .PHP{
    color: var(--php) !important;
  }
  .VueJs{
    color: var(--vueJs) !important;
  }
  .Laravel{
    color: var(--laravel) !important;
  }
  .Bootstrap{
    color: var(--bootstrap) !important;
  }
  .Html{
    color: var(--html) !important;
  }
  .CSS{
    color: var(--css) !important;
  }
  .NodeJs{
    color: var(--node) !important;
  }
  .MySql{
    color: var(--mysql) !important;
  }
  .Slack{
    color: var(--slack) !important;
  }
  .young-serif{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  .DynaPuff {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* color: #006DCC; */
  }